header{
  height:110px;
  background: #9933cc;
}
.hdr-txt{
  padding-left:10px ;
  line-height: 110px;
  font-weight: 500;
}

main{
  min-height:355px;
}
footer{
  height:62px;
  background:#33b5e5;
  margin-top: 13px;
  text-align: center;
  line-height: 60px;
}
.v_tbdr{
  font-weight:400;
}
section{
  padding-top: 15px;
}
h1{
  margin-top: 40px;
}
h2{
  text-align: center;
}

p{
  font-size:small;
  margin-top: 20px;
  font-size: larger;
}
.v_cntr{
  text-align: center;
}